In [3]:
import zoo

zoo.hours()

Open 9-5 daily

11.1

In [4]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

11.2

In [3]:
import csv
books = [
    {'title': 'The Weirdstone of Brisingamen', 'author': 'Alan Garner', 'year': '1960'},
    {'title': 'Perdido Street Station', 'author': 'China Mi√©ville', 'year': '2000'},
    {'title': 'Thud!', 'author': 'Terry Pratchett', 'year': '2005'},
    {'title': 'The Spellman Files', 'author': 'Lisa Lutz', 'year': '2007'},
    {'title': 'Small Gods', 'author': 'Terry Pratchett', 'year': '1992'},
]

with open('books.csv', 'wt') as fout:
    cout = csv.DictWriter(fout, ['title', 'author', 'year'])
    cout.writeheader()
    cout.writerows(books)

16.3
To prepare for 16.8

In [4]:
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (title VARCHAR(40) PRIMARY KEY,
    author VARCHAR(20),
    year INT)''')

16.4
To prepare for 16.8

16.8